.pokemon{
  display: inline-block;
  border: 1px solid blue;
  background-color: yellow;
  padding: 10px;
  margin: 10px;
  width: 250px;


  .name{
    color: blue;
  }
  .image{
    height: 200px;
    border: 1px solid green;
    background-size: cover;
  }
}

.player1{
  border: 3px solid red;
}

.player2{
  border: 3px solid black;
}
